body {
  max-width: 320px;
  margin: auto;
  background: black;
  color: whitesmoke;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: #29439b;
  margin: 0;
}

header img {
  margin: 0;
}

.container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.txt {
  white-space: nowrap;
  font-size: 100px;
  animation: scroll 30s linear infinite;
  font-family: sans-serif;
  color: whitesmoke;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card {
  margin-bottom: 25px;
}

header nav a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: whitesmoke;
  border-bottom: solid 1px whitesmoke;
  padding: 5px 4px 0px 4px;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
}

.blue-part {
  background-color: #29439b;
  padding-top: 20px;
}

.fusion {
  padding: 0 15px 15px;
}

.splitter {
  max-width: 90%;
  margin: auto;
}

.cliping {
  clip-path: polygon(0 0, 50% 10%, 100% 0%, 100% 100%, 0 100%);
  max-width: 100%;
}

main p {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.maps {
  max-width: 80%;
  display: flex;
  align-items: center;
}

.graf {
  border: solid 1px whitesmoke;
}
.content {
  font-size: 25px;
  font-weight: 400;
}

.card-content-left {
  position: absolute;
  top: 65px;
  left: 30px;
}

.card-content-middle {
  position: absolute;
  top: 240px;
  left: 130px;
  font-size: 23px;
}

.card-content-right {
  position: absolute;
  top: 430px;
  left: 30px;
  font-size: 23px;
}

.card-section {
  position: relative;
  text-align: center;
  color: whitesmoke;
  padding: 25px 15px;
}

h2 {
  font-size: 30px;
  font-family: "Gotham Black", sans-serif;
  text-align: center;
  margin: 0;
}

.cliping-smooth {
  background-image: url(../img/thomas-stair.jpg);
  clip-path: polygon(0 0, 50% 5%, 100% 0%, 100% 100%, 0 100%);
  position: relative;
  padding-top: 1200px;
  background-repeat: no-repeat;
}

.blur {
  background-color: #000000ab;
  padding: 0 15px 20px;
  margin: 0;
}

ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: whitesmoke;
}

ul li {
  margin-bottom: 25px;
}

.skater {
  padding: 25px 15px;
  font-weight: 500;
}
