body {
  max-width: 320px;
  margin: auto;
  background: black;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: #29439b;
  margin: 0;
}

header img {
  margin: 0;
}

.container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.txt {
  white-space: nowrap;
  font-size: 100px;
  animation: scroll 30s linear infinite;
  font-family: sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card {
  margin-bottom: 25px;
}

header nav a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: whitesmoke;
  border-bottom: solid 1px whitesmoke;
  padding: 5px 4px 0px 4px;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
}

.blue-part {
  background-color: #29439b;
  padding: 20px;
}

.splitter {
  max-width: 90%;
  margin: auto;
}
