body {
  max-width: 350px;
  margin: auto;
  background: black;
  color: whitesmoke;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: #29439b;
  margin: 0;
}

header img {
  margin: 0;
}

.container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.txt {
  white-space: nowrap;
  font-size: 100px;
  animation: scroll 30s linear infinite;
  font-family: sans-serif;
  color: whitesmoke;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card {
  margin-bottom: 25px;
}

header nav a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: whitesmoke;
  border-bottom: solid 1px whitesmoke;
  padding: 5px 4px 0px 4px;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
}

.blue-part {
  background-color: #29439b;
  padding-top: 20px;
}

.fusion {
  padding: 0 15px 15px;
}

.splitter {
  max-width: 90%;
  margin: auto;
}

.cliping {
  clip-path: polygon(0 0, 50% 10%, 100% 0%, 100% 100%, 0 100%);
  max-width: 100%;
}

main p {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.maps {
  max-width: 80%;
  display: flex;
  align-items: center;
}

.graf-card {
  width: 350px;
  height: 210px;
  margin-bottom: 50px;
  border: solid 2px whitesmoke;
  background-position: center;
  background-size: cover;
}

.dread {
  background-image: url(../img/dread-graf.jpg);
}

.toto {
  background-image: url(../img/toto.jpg);
}

.graf-card-content {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  font-size: 20px;
  padding: 20px;
}

.graf-card-content-text {
  font-weight: 400;
  /* Le style du text */
}

.chemi {
  background-image: url(../img/chemistri.jpg);
}

.graf-card-content-toto {
  color: whitesmoke;
  font-size: 20px;
  padding: 25px 0 0 160px;
}

.graf-card-content-dread {
  color: whitesmoke;
  font-size: 20px;
  padding: 50px 0 0 30px;
}

.graf-card-content-title {
  font-family: "Gotham Black", sans-serif;
  margin-bottom: 0;
}

.content {
  font-size: 25px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-family: "Gotham Black", sans-serif;
  text-align: center;
  margin: 0;
}

.skate-section h2 {
  text-align: start;
  padding-left: 25px;
}

.stair-case {
  background-image: url(../img/thomas-stair.jpg);
  position: relative;
  padding-top: 1200px;
  background-repeat: no-repeat;
}

.cliping-smooth {
  clip-path: polygon(0 0, 50% 5%, 100% 0%, 100% 100%, 0 100%);
}

.blur {
  background-color: #000000ab;
  margin: 0;
}

.resizing {
  padding: 20px 15px 20px;
  margin: 0;
}

ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: whitesmoke;
}

ul li {
  margin-bottom: 25px;
  padding-right: 15px;
}

.info-text {
  padding: 25px 15px;
  font-weight: 500;
}

.light-wait {
  font-weight: 400;
}

.crowded {
  background-image: url(../img/crowded.jpg);
  background-size: contain;
  padding-top: 550px;
}

.card-rap {
  width: 350px;
  height: 210px;
  margin-bottom: 50px;
  border: solid 2px whitesmoke;
  background-position: center;
  background-size: cover;
}

.slimka {
  background-image: url(../img/slimcard.jpg);
}

.rapeuse {
  background-image: url(../img/rap-card.jpg);
}

.rap-card-content-opposite {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  font-size: 20px;
  padding: 20px;
}

.rap-card-content-text {
  font-weight: 400;
}

.jackson {
  background-image: url(../img/jackard.jpg);
  background-position: center;
  background-size: cover;
}

.rap-card-content-slimka {
  color: whitesmoke;
  padding-left: 165px;
  font-size: 20px;
}

.rap-card-content-jackson {
  color: whitesmoke;
  padding: 50px 0 0 200px;
  font-size: 20px;
}

.rap-card-content-title {
  font-family: "Gotham Black", sans-serif;
  margin-bottom: 0;
}

.card {
  border: solid 2px whitesmoke;
  padding: 30px;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
}

.oh-my-b {
  background-image: url(../img/oh-my-b.jpg);
}

.cilantro {
  background-image: url(../img/con-cilantro.jpg);
}

.dog {
  background-image: url(../img/dogo-car.jpg);
}

.breton {
  background-image: url(../img/bretagnes.jpg);
}

.poke {
  background-image: url(../img/poke-paradie.jpg);
}

.smoothies {
  background-image: url(../img/smoothie-stop.jpg);
}

.card-content {
  color: whitesmoke;
}

.card-content-title {
  font-family: "Gotham Black", sans-serif;
  text-align: center;
}

.card-content-text {
  text-align: center;
  font-size: 17px;
}

footer {
  font-family: "Roboto", sans-serif;
}

footer p {
  margin-left: 40px;
  padding: 5px;
  border-left: solid 2px whitesmoke;
  font-size: 20px;
}

footer h2 {
  text-align: start;
  padding-left: 38px;
}

.map {
  position: initial;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.maps {
  width: 300px;
  height: 150px;
  margin-bottom: 25px;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.social {
  max-width: 15%;
}

.blue {
  max-width: 20%;
}

.upper {
  width: 100%;
  bottom: 20px;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
